* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}

:root{
    --red: #E5243B;
    --mustard: #DDA63A;
    --kellygreen: #4C9F38;
    --darkred: #C5192D;
    --redorange: #FF3A21;
    --bluebright: #26BDE2;
    --yellow: #FCC30B;
    --redburgundy: #A21942;
    --orange: #FD6925;
    --magenta: #DD1367;
    --gold: #FD9D24;
    --darkmustard: #BF8B2E;
    --greendark: #3F7E44;
    --blue: #0A97D9;
    --greenlime: #56C02B;
    --blueroyal: #00689D;
    --bluenavy: #19486A;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: wrap row;
    padding: 2%;
    border-radius: 30px;
}

.foreground-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    backdrop-filter: blur(5px);
    border-radius: 0;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
}

p{
    font-size: 20px;
    margin-bottom: 30px;
}

.btn{
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    text-align: left;
}

.btn:hover{
    background: black;
    color: white;
}

i{
    cursor: pointer;
}

/* Player */
.player-container{
    width: 40%;
    justify-content: left;
    text-align: left;
    background-color: white;
    padding: 2%;
    border-radius: 30px;
    display: flex;
}

.btn-player{
    margin-right: 20px;
}
/* BTN Player */

/* DICE */
.dice-container {
    flex-flow: wrap column;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.199);
    display: none;
}

#dice-number {
    width: 100px;
    aspect-ratio: 1 / 1;
    margin: 20px 0;
    font-size:80px;
  }

/* DICE */

/* QA-Container */

.qa-container{
    flex-flow: wrap;
    width: 40%;
    justify-content: left;
    text-align: left;
    align-items: left;
    background-color: white;
    display: none;
}

.qa-container h1{
    font-size: 30px;
}

.btn-answer{
    margin-right: 20px;
    margin-top: 20px;
}

/* QA-Container */

/* Gameover */

.gameover-container{
    display: none;
    background-color: white;
    width: 40%;
    min-height: 150px;
    padding: 2%;
}

.gameover-container .reset{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    transition: .5s;
    border: solid 1px rgba(0, 0, 0, 0.01);
}

.gameover-container .reset:hover{
    cursor: pointer;
    color:rgba(0, 0, 0, 0.5);
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.5)
}

/* Gameover */

/* Select-Direction */ 

.select-direction-container{
    display: none;
    flex-flow: wrap row;
    width:15%;
    background-color: rgba(255, 255, 255, 0.199);
    justify-content: space-around;
    display: none;
}

.select-direction-container i{
    margin-top: 30px;
    font-size: 50px;
}

/* Select-Direction */


main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    place-items: center;
    padding: 2%;
    background: var(--greendark);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.grid-item {
    width: 95%;
    height: 90%;
    border-radius: 20px;
    padding: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 10px left 50%;

    display: flex;
    justify-content: center;
}

.grid-item img{
    max-height: 100px;
    max-width: 100%;
}

#spin-img{
    animation: rotation 15s infinite linear;
    transition: .5s;
}

#spin-img:hover{
    scale: 1.1;
}

#A6, #D2, #D3{
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
}

#A6 div{
    width: 48%;
    background-color: rgb(61, 61, 61);
    height: 100%;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    cursor: pointer;
    transition: .5s;
}

#A6 div:hover{
    background: white;
    color: rgb(61, 61, 61);
}

#B2, #B4, #C5, #D5,#E2, #E3, #E4{
    color: white;
    background-color: transparent;
}

#F6{
    background-color: white;
}

 #D2, #D3{
    padding: 0;
    justify-content: space-between;
}

#D2 div, #D3 div{
    padding: 15px;
    width: 48%;
    height: 100%;
    color: white;
    border-radius: 20px;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    text-transform: uppercase;
}

.points-player{
    font-size: 38px !important;
}

#A3, #E5{
    color: var(--greendark);
    font-size: 65px;
    position: relative;
}

#A3 i, #E5 i{
    position: absolute;
    top: 50%;
    cursor: default;
}

#A3 i:first-of-type, #E5 i:first-of-type{
    left: 50%;
    transform: translate(-110%, -50%);
}

#A3 i:last-of-type, #E5 i:last-of-type{
    right: 50%;
    transform: translate(110%, -50%);
}

.up-left{
    transform: rotate(-45deg) translate(-45%, -120%) !important;
}

.left, .up, .right, .down{
    position: relative;
    color: var(--greendark);
    font-size: 65px;
}

.left i, .up i, .right i, .down i{
    position: absolute;
    cursor: default;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#D2 p, #D3 p{
    margin: 0;
    font-size: 16px;
}

#F6{
    justify-content: center;
    align-items: center;
}

.playerPoint {
    border-radius: 100%;
    max-width: 25%;
    height: 50px;
    aspect-ratio: 1 / 1;
    align-self: center;
    margin: 5px;
    z-index: 500;
}

#player1, .red{
    background-color: var(--darkred);
}

#player2, .blue{
    background-color: var(--blueroyal);
}

#player3, .green{
    background-color: var(--greenlime);
}

#player4, .magenta{
    background-color: var(--magenta);
}

.baeume{
    width: 100%;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  #cube-animation {
    position: static;
    transform-style: preserve-3d;
    transition: transform .5s;
    width: 93%;
    aspect-ratio: 1 / 1;
    margin: 30px 0;
  }
  
  #cube-animation div {
    border:1px solid #ccc;
    border-radius:30px;
    width:198px;
    height:198px;
    position:absolute;
    background-image: url(img/Dice2.png);
    background-repeat:no-repeat;
  }
  
  .front-cube { transform: rotateY(   0deg ) translateZ( 100px ); background-position: -12px -12px; }
  .back-cube { transform: rotateX( 180deg ) translateZ( 100px ); background-position: -463px -239px; }
  .right-cube { transform: rotateY(  90deg ) translateZ( 100px ); background-position: -236px -12px; }
  .left-cube { transform: rotateY( -90deg ) translateZ( 100px ); background-position: -241px -235px; }
  .top-cube { transform: rotateX(  90deg ) translateZ( 100px ); background-position: -459px -12px; }
  .bottom-cube { transform: rotateX( -90deg ) translateZ( 100px ); background-position: -12px -235px; }
  
  #cube-animation.show1 { transform: translateZ( -100px ) rotateY(    0deg ); }
  #cube-animation.show2 { transform: translateZ( -100px ) rotateY(  -90deg ); }
  #cube-animation.show3 { transform: translateZ( -100px ) rotateX(  -90deg ); } 
  #cube-animation.show4 { transform: translateZ( -100px ) rotateX(   90deg ); }
  #cube-animation.show5 { transform: translateZ( -100px ) rotateY(   90deg ); }
  #cube-animation.show6 { transform: translateZ( -100px ) rotateX( -180deg ); }