* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}

:root{
    --red: #E5243B;
    --mustard: #DDA63A;
    --kellygreen: #4C9F38;
    --darkred: #C5192D;
    --redorange: #FF3A21;
    --bluebright: #26BDE2;
    --yellow: #FCC30B;
    --redburgundy: #A21942;
    --orange: #FD6925;
    --magenta: #DD1367;
    --gold: #FD9D24;
    --darkmustard: #BF8B2E;
    --greendark: #3F7E44;
    --blue: #0A97D9;
    --greenlime: #56C02B;
    --blueroyal: #00689D;
    --bluenavy: #19486A;
}

.foreground-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
}

/* BTN Player */
.button-container{
    display: flex;
    flex-flow: wrap row;
    width: 40%;
    justify-content: left;
    text-align: left;
    background-color: white;
    padding: 2%;
    border-radius: 30px;
}

.button-container h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.button-container p{
    font-size: 20px;
    margin-bottom: 30px;
}

.button-container .btn-player{
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 20px;
}

.button-container .btn-player:hover{
    background: black;
    color: white;
    cursor: pointer;
}
/* BTN Player */

.dice-container {
    display: none;
}

main {
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    padding: 2%;
    place-items: center;
}

#dice-number {
    width: 100px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    font-size:80px;
  }

#btn-roll-dice {
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}
/* DICE */

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    place-items: center;
    padding: 2%;
 
}

.grid-item {
    background-color: rgba(255, 60, 60, 0.301);
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: left;
    align-items: end;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
}
.grid-item img{
    max-height: 100px;
    max-width: 100%;
    animation: rotation 15s infinite linear;
}
#A6, #B2, #B4, #C5, #D2, #D3, #D5, #E2, #E3, #E4, #F6{
    background-color: white;
    color: white;
}

#F6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerPoint {
    aspect-ratio: 1 / 1;
    width: 50%;
    border-radius: 100%;
    display: inline-block;
}

#player1{
    background-color: var(--darkred);
}

#player2{
    background-color: var(--blueroyal);
}

#player3{
    background-color: var(--greenlime);
}

#player4{
    background-color: var(--magenta);
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }